
div.container{float:left; padding:1%; width:65%;}
@import url(http://fonts.googleapis.com/css?family=Raleway);


aside{float:right;  width:30%; margin-top: 15px; padding: 5px;}

#btn_recom{ border:1px solid #ccc; margin-bottom:1.3em; padding:5px; }

.choix_pa ,#btn_recom{
    border-radius: 10px;
  background-color: #006699; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
#div_map{
  visibility: hidden;
}

 #sub_req:hover {
 /*box-shadow: 0px 1px 1px 1px #888888;*/
 border-bottom: 0px solid black;
 border-top: 3px solid #006699; 
 }

#sub_req,#myBtn{
  margin-top: -10px;
  float: right;
  width: 20%;
 border-radius: 10px;
  background-color: #0383c3; 
  border-bottom: 3px solid #006699;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

 #myBtn:hover{
 /*box-shadow: 0px 1px 1px 1px #888888;*/
 border-bottom: 0px solid black;
  border-top: 3px solid #006699; 
}




#titre_req{
  text-align: center;
  margin: auto;
  padding: 5px;
    border:3px solid #009fee;
  width: 80%;
  font-size:  25px; 

}
#sect_resultat{
  visibility: hidden;
}
#sect,#sect_resultat{
  border:1px solid #ccc; 
  padding: 5px;
  display: block;
  box-shadow: 0px 0px 3px #ccc;
background-color: white;
}


#sect_resultat{
  border:1px solid #ccc; 
  padding: 5px;
  display: block;
  margin-top: 50px;
  padding-bottom: 50px;
}

#titre_req{
  text-align: center;
  margin: auto;
  padding: 5px;
    border:3px solid #009fee;
  width: 100%;
  font-size:  25px; 

}

#sect_resultat,#titre_req,#pa,#p_resultat{
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: underline;
  color: black;
}



#myInput  {
  overflow:scroll; 
  background-color: #f1f1f1;
  width: 100%;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #009fee;
  border-radius: 10px 0 10px 0;
 }

 #myInput2  {
  overflow:scroll; 
  background-color: #f1f1f1;
  width: 150%;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #009fee;
 }
header{background-color: white;
}
 /*autocomplete*/

* {
  box-sizing: border-box;
}
.demo{
  width: 100%;
  color: #bcc0bb;
}
body {
  font: 16px Raleway;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width:100%;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;

    max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;

}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;

}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
    max-height: 200px;
           
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
    max-height: 200px;
    
}